section.footer
    .container
        .footer-top 
            .footer-column
                h3.footer-heading.footer-heading--logo MoGo 
                p.footer-desc.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                p.footer-follower <strong>15k</strong> followers 
                .footer-social 
                    span.text Follow Us: 
                    .footer-social-list
                        a.footer-social-icon(href="#")
                            i.fab.fa-facebook 
                        a.footer-social-icon(href="#")
                            i.fab.fa-twitter
                        a.footer-social-icon(href="#")
                            i.fab.fa-instagram 
                        a.footer-social-icon(href="#")
                            i.fab.fa-pinterest 
                        a.footer-social-icon(href="#")
                            i.fab.fa-google-plus 
                        a.footer-social-icon(href="#")
                            i.fab.fa-youtube
                        a.footer-social-icon(href="#")
                            i.fab.fa-dribbble
                        a.footer-social-icon(href="#")
                            i.fab.fa-tumblr 
                form.footer-form(action="javascript:void(0)")
                    input(type="email" placeholder="Your Email").footer-form-input 
                    button.footer-form-button Subscribe
            .footer-column
                h3.footer-heading Blogs
                +footerBlog("#", "../images/img-blogs1.png") 
                +footerBlog("#", "../images/img-blogs2.png") 
                +footerBlog("#", "../images/img-blogs3.png") 
            .footer-column
                h3.footer-heading Instagram 
                .footer-images 
                    .footer-image 
                        img(src="../images/img-instagram1.png")
                    .footer-image 
                        img(src="../images/img-instagram2.png")
                    .footer-image 
                        img(src="../images/img-instagram3.png")
                    .footer-image 
                        img(src="../images/img-instagram4.png")
                    .footer-image 
                        img(src="../images/img-instagram5.png")
                    .footer-image 
                        img(src="../images/img-instagram6.png")
                    .footer-image 
                        img(src="../images/img-instagram7.png")
                    .footer-image 
                        img(src="../images/img-instagram8.png")
                    .footer-image 
                        img(src="../images/img-instagram9.png")
                a(href="#").footer-images-more.text.text--light View more photos
        .footer-bottom &copy; 2016 MoGo free PSD template by <span> Laaqiq</span>