section.service 
	.container 
		+blockBox("We work with", "Amazing services")
		.service-container 
			.service-list 
				+serviceItem("images/img-service-icon1.png", "Photography", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
				+serviceItem("images/img-service-icon2.png", "Web Design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
				+serviceItem("images/img-service-icon3.png", "Creativity", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
			.service-list
				+serviceItem("images/img-service-icon4.png", "seo", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
				+serviceItem("images/img-service-icon5.png", "css/html", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
				+serviceItem("images/img-service-icon6.png", "Digital", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")