section.work 
    .container 
        +blockBox("What we do", "some of our work", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
    //- Cách 2 Css grid
    .work-grid  
        +workItem("../images/img-work1.png", "fa fa-home", "Creatively designed", "Lorem ipsum dolor sit amet.")
        +workItem("../images/img-work2.png", "fa fa-cog", "Creatively designed", "Lorem ipsum dolor sit amet.") 
        +workItem("../images/img-work3.png", "fa fa-city", "Creatively designed", "Lorem ipsum dolor sit amet.")
        +workItem("../images/img-work4.png", "fa fa-city", "Creatively designed", "Lorem ipsum dolor sit amet.") 
        +workItem("../images/img-work5.png", "fa fa-heart", "Creatively designed", "work-item--full", "Lorem ipsum dolor sit amet.")
        +workItem("../images/img-work7.png", "fa fa-image", "Creatively designed", "Lorem ipsum dolor sit amet.")
        +workItem("../images/img-work6.png", "fa fa-city", "Creatively designed", "Lorem ipsum dolor sit amet.")
    //- Cách 2 Flex-box
    //- .work-list 
    //-     .work-column 
    //-         +workItem("../images/img-work1.png", "fa fa-home", "Creatively designed", "Lorem ipsum dolor sit amet.")
    //-         +workItem("../images/img-work2.png", "fa fa-cog", "Creatively designed", "Lorem ipsum dolor sit amet.")
    //-     .work-column 
    //-         +workItem("../images/img-work3.png", "fa fa-city", "Creatively designed", "Lorem ipsum dolor sit amet.")
    //-         +workItem("../images/img-work4.png", "fa fa-city", "Creatively designed", "Lorem ipsum dolor sit amet.")
    //-     .work-column 
    //-         +workItem("../images/img-work5.png", "fa fa-heart", "Creatively designed", "work-item--full", "Lorem ipsum dolor sit amet.")
    //-     .work-column
    //-         +workItem("../images/img-work7.png", "fa fa-image", "Creatively designed", "Lorem ipsum dolor sit amet.")
    //-         +workItem("../images/img-work6.png", "fa fa-city", "Creatively designed", "Lorem ipsum dolor sit amet.")